@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Light.ttf") format("TrueType");
  font-display: swap;
  font-weight: 300;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Regular.ttf") format("TrueType");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Medium.ttf") format("TrueType");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-SemiBold.ttf") format("TrueType");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Gilroy";
  src: url("./fonts/Gilroy-Bold.ttf") format("TrueType");
  font-display: swap;
  font-weight: 700;
}

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
}

:root {
  --container-width: 1300px;
  --container-offset: 15px;

  --font-family: "Gilroy", "Arial", sans-serif;
  --font-size: 16px;

  --blue: #404d61;
  --orange: #ff6501;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--blue);
}
